@import "elkoplast/components/footer";
@import "elkoplast/components/sideNav";
@import "elkoplast/components/15-grid";
@import "elkoplast/components/topBar";
@import "elkoplast/components/imgHead";
@import "elkoplast/components/headline";
@import "elkoplast/components/service";
@import "elkoplast/components/news";
@import "elkoplast/components/whyUs";
@import "elkoplast/components/slider";
@import "elkoplast/components/productList";
@import "elkoplast/components/search";
@import "elkoplast/components/aboutUsBlock";
@import "elkoplast/components/breadcrumbs";
@import "elkoplast/components/tables";
@import "elkoplast/components/horizontalInfinity";
@import "elkoplast/components/timeLine";

@import "elkoplast/404";
@import "elkoplast/home";
@import "elkoplast/abouUs";
@import "elkoplast/contacts";
@import "elkoplast/dodelavkakontakty";
@import "elkoplast/dodelavkaonas";
@import "elkoplast/lightbox";

@mixin elkoplast {

  @include elkoplast-footer;
  @include elkoplast-sideNav;
  @include grid-15;
  @include elkoplast-topBar;
  @include elkoplast-imgHead;
  @include elkoplast-headline;
  @include elkoplast-service;
  @include elkoplast-news;
  @include elkoplast-whyUs;
  @include elkoplast-slider;
  @include elkoplast-productList;
  @include elkoplast-search;
  @include elkoplast-aboutUsBlock;
  @include elkoplast-breadcrumbs;
  @include elkoplast-tables;
  @include horizontalInfinity;
  @include timeLine;
  @include lightbox;

  @include elkoplast-home;
  @include elkoplast-404;
  @include elkoplast-abouUs;
  @include elkoplast-contacts;
  @include elkoplast-dodelavkakontakty;
  @include elkoplast-dodelavkaonas;
  .adminEditButton {
    position: fixed;
    right: rem-calc(20);
    top: rem-calc(30);
    /* height: 12px; */
    z-index: 100;
    a {
      height: rem-calc(12);
      /* padding: 19px 22px; */
      padding-top: rem-calc(15);
      padding-bottom: rem-calc(30);
      font-size: 1rem;
    }
  }
  #loader {
  z-index: 999999;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $white;
  img {
    position: absolute;
    top: calc(50% - 28px / 2);
    left: calc(50% - 152px / 2);
  }
  .cs-loader-inner {
  transform: translateY(-50%);
  top: calc(50% + 48px);
  position: absolute;
  left: calc(7% + 13px);
  width: calc(100% - 200px);
  color: #000;
  padding: 0 100px;
  text-align: center;
}
  .cs-loader-inner label {
      font-size: 20px;
      opacity: 0;
      display:inline-block;
    }

    @keyframes lol {
      0% {
        opacity: 0;
        transform: translateX(-200px);
      }
      33% {
        opacity: 1;
        transform: translateX(0px);
      }
      66% {
        opacity: 1;
        transform: translateX(0px);
      }
      100% {
        opacity: 0;
        transform: translateX(200px);
      }
    }

    @-webkit-keyframes lol {
      0% {
        opacity: 0;
        -webkit-transform: translateX(-200px);
      }
      33% {
        opacity: 1;
        -webkit-transform: translateX(0px);
      }
      66% {
        opacity: 1;
        -webkit-transform: translateX(0px);
      }
      100% {
        opacity: 0;
        -webkit-transform: translateX(200px);
      }
    }

    .cs-loader-inner label:nth-child(6) {
      -webkit-animation: lol 3s infinite ease-in-out;
      animation: lol 3s infinite ease-in-out;
    }

    .cs-loader-inner label:nth-child(5) {
      -webkit-animation: lol 3s 100ms infinite ease-in-out;
      animation: lol 3s 100ms infinite ease-in-out;
    }

    .cs-loader-inner label:nth-child(4) {
      -webkit-animation: lol 3s 200ms infinite ease-in-out;
      animation: lol 3s 200ms infinite ease-in-out;
    }

    .cs-loader-inner label:nth-child(3) {
      -webkit-animation: lol 3s 300ms infinite ease-in-out;
      animation: lol 3s 300ms infinite ease-in-out;
    }

    .cs-loader-inner label:nth-child(2) {
      -webkit-animation: lol 3s 400ms infinite ease-in-out;
      animation: lol 3s 400ms infinite ease-in-out;
    }

    .cs-loader-inner label:nth-child(1) {
      -webkit-animation: lol 3s 500ms infinite ease-in-out;
      animation: lol 3s 500ms infinite ease-in-out;
    }
}

}
