
<section class="row15">

        <article class="large15-15 columns ">
            <header>
            <h1>{$item.nazev}</h1>
            </header>
            {$item.popis}

        </article>
    </section>