@mixin elkoplast-404 {

  #error404 {
    margin-bottom: rem-calc(300);
    h2 {
      font-size: rem-calc(72) !important;
      font-weight: $global-weight-light !important;
      letter-spacing: 0 !important;
      margin-bottom: rem-calc(60) !important;
    }
    p {
      margin-bottom: rem-calc(30);
    }
  }

}