@mixin elkoplast-dodelavkakontakty {
	#contacts {
		//margin-top: rem-calc(45);
		#map2 {
			height: 450px;
		}
		.hlavniKontakty {
			margin-top: rem-calc(20);
		}
	}
	.kontaktniheader h2 {
		font-size: rem-calc(30);
		margin-bottom: rem-calc(60) !important;
	}	
	.vyhledejtesi h2 {
		font-size: rem-calc(24);
		padding-top: rem-calc(23);
	}
	.dglogo {
		max-width: rem-calc(185);
		display: block; 
		margin: 0 auto;
		padding-bottom: rem-calc(15);
		margin-top: rem-calc(-30);
	}
	.sedyrow {
		background-color: #f5f5f5;
		padding-left: rem-calc(25);
		padding-right: rem-calc(25);
		select {
			margin-top: rem-calc(15);
			margin-bottom: rem-calc(15);
		}
		.columns {
			padding: rem-calc(5);		
		}
		.odeslat {
			width: 100%;
			height: rem-calc(46);
			border-radius: rem-calc(4);
			background-color: $primary-color;
			color: #FFF;
			font-weight: bold;
			margin-top: rem-calc(15);
		}
		.odeslat:hover {
			background-color: #292a28;
		}
	}
	.spravnaosoba {
		margin-top: rem-calc(60);
		margin-bottom: rem-calc(60);
		img {
			margin-bottom: rem-calc(30);
		}
		a {
			color: #000;
		}
		p {
			padding-left: rem-calc(10);
			padding-right: rem-calc(10);
		}
	}
}