@mixin elkoplast-dodelavkaonas {
	.ospolecnosti {
		header {
			background-color: #f1f2f0;
			background-size: 50%;
			background-position: right;
			background-repeat: no-repeat;
			padding-bottom: 4rem;
			@include breakpoint(medium down) {
				background: none !important;
			}
			&::before {
				content: " ";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 50%;
				background-image: linear-gradient(to right,#f1f2f0,transparent 30%);
				opacity: 1;
				height: rem-calc(496);
				@include breakpoint(medium down) {
					display: none;
				}
			}
			h2 {
				margin-top: rem-calc(80);
				margin-bottom: rem-calc(50);
			}
			img {

				margin-top: rem-calc(30);
				display: none;

			}
		}
		h2 {
			font-weight: bold;
			font-size: rem-calc(30);
		}
		.numbers {
			display: block;
			background: #80b527;
			padding-top: rem-calc(30);
			padding-bottom: rem-calc(10);
			.bignumber {
				color: #FFF;
				font-size: rem-calc(48);
				font-weight: bold;
				@media (max-width: 640px) {
					font-size: rem-calc(40);
					text-align: left !important;
					padding-left: rem-calc(10);
				}
			}
			p {
				margin-top: rem-calc(12);
				color: #d1f299;
				font-size: rem-calc(16);
				border-left: rem-calc(1) solid #9cce4a;
				padding-left: rem-calc(20);
				font-weight: 500 !important;
			}
		}
		.nasevyroba {
			h2 {
				margin-top: rem-calc(65);
			}
			h2:last-child {
				margin-top: 0;
			}
			.row.text-center p {
				padding: 0 rem-calc(65);
				margin-bottom: rem-calc(80);
				@media (max-width: 640px) {
					padding: 0 rem-calc(10);
				}
			}
			h3 {
				color: #FFF !important;
				font-size: rem-calc(20);
				font-weight: 700 !important;
				background-color: #80b527;
				height: rem-calc(90);
				width: 100%;
				margin-bottom: 0 !important;
				padding-left: rem-calc(30);
				padding-top: rem-calc(33);
			}
			.columns>p {
				font-size: rem-calc(14);
				padding: rem-calc(30) rem-calc(15);
			}
			a.button{
				color: #000;
				background-color: #eeefec;
				font-weight: bold;
				height: rem-calc(55);
				width: rem-calc(175);
				border-radius: rem-calc(4) !important;
				display: block;
				margin: 0 auto;
				margin-bottom: rem-calc(65);
				border: none !important;
				padding: 1.2rem 2.125rem;
				font-size: 1rem;
				margin-top: rem-calc(30);
			}
			a.button:hover{
				background-color: rgba(0,0,0,0.2);
				text-decoration: none;
			}
		}
		.doprava {
			min-height: rem-calc(505);
			background: url("../../assets/img/slicnaslecna.png") #f1f2f0 no-repeat;
			background-position: bottom;
			a.button {
				background-color: #80b527;
				height: rem-calc(55);
				width: rem-calc(176);
				border-radius: rem-calc(4);
				font-size: rem-calc(15);
				color: #FFF;
				font-weight: 600 !important;
				margin-top: rem-calc(20);
				padding: 1.2rem 2.125rem;
				border: none !important;
				@media(max-width: 640px) {
					margin-bottom: rem-calc(525);
				}
			}
			a.button:hover {
				background-color: #292a28;
				text-decoration: none;
			}
			h2 {
				color: #2b2c2a;
				font-size: rem-calc(24);
				margin-top: rem-calc(120);
				margin-bottom: rem-calc(45);
			}
		}
		.tytovystavy {
			//padding-bottom: rem-calc(85);
			h2 {
				margin-top: rem-calc(45);
			}
			p {
				margin-bottom: rem-calc(60);
			}
			.vystavywrap {
				position: relative;
				border-radius: rem-calc(4);
				margin-top: rem-calc(20);
				margin-bottom: rem-calc(20);
				p {
					margin-bottom: rem-calc(22);
					position: absolute;
					left: rem-calc(32);
					bottom: 0;
					color: #FFF;
					font-weight: 600 !important;
					z-index: 2;
				}
				img {
				height: 100%;
				width: 100%;
				}
			}
			.vystavywrap:after {
				z-index: 1;
			    width: 100%;
			    height: 100%;
			    content: "";
			    display: block;
			    position: absolute;
			    top: 0;
			    background: linear-gradient(0deg, rgba(10,10,10,0.8), rgba(10,10,10,0.4), rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,0));
				border-radius: rem-calc(4);
			}
		}
		.jsmehrdi {
			background-color: #f1f2f0;
			padding: rem-calc(55) 0;
			h2 {
				margin-top: rem-calc(-5);
				padding-left: rem-calc(80);
				@media (max-width: 1024px) {
					padding-left: rem-calc(10);
				}
			}
			p {
				padding-left: rem-calc(80);
				@media (max-width: 1024px) {
					padding-left: rem-calc(10);
				}
			}
			img {
				@media (min-width: 1024px) and (max-width: 1180px) {
					margin-left: rem-calc(80);
				}
			}
		}
		.somegalerry {
			background-color: #292a28;
			padding-left: rem-calc(80);
			@media (max-width: 1024px) {
				padding-left: rem-calc(0);
			}
			img {
				padding: rem-calc(18) 0;
				&.has-tip {
					border-bottom: none;
				}
			}
		}
		.milniky {
			h2 {
				margin-top: rem-calc(55);
			}
			padding-bottom: rem-calc(40);
		}
		.certifikace {
			h2 {
				margin-bottom: 0 !important;
				margin-top: rem-calc(45);
			}
			img {
				margin: rem-calc(65) 0;
				max-height: rem-calc(206);
			}
		}
	}
}