@mixin horizontalInfinity() {

  .horizontalInfinity {
    display: flex;
    justify-content: center;
  }


  .horizontalInfinity .viewfinder {
    max-width: rem-calc(1180);
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .horizontalInfinity .picture {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    padding: rem-calc(1);
    position: absolute;
    top: 0;
  }


  .horizontalInfinity .controls {
    width: 100%;
    min-height: rem-calc(35);
    position: absolute;
    top: calc(50% - 1.09375rem);
    .back, .forward {
      width: rem-calc(35);
      height: rem-calc(35);
      background-color: #878b8d;
      border-radius: 50%;
      position: absolute;
      cursor: pointer;
      background-image: url("../img/timelineArrow.png");
      background-repeat: no-repeat;
      background-position: rem-calc(13) center;
      opacity: 1;
      transition: 200ms;
      &:hover {
        opacity: 0.8;
        transition: 200ms;
      }
    }
    .back {
      left: 0;
      transform: rotate(180deg);
    }
    .forward {
      right: 0;
    }
  }

}