@mixin elkoplast-news {

  .message {
    border-top: rem-calc(2) solid #f1f3f0;
    position: relative;
    margin-bottom: rem-calc(45);
    img {
      width: 100%;
    }
    .date {
      position: absolute;
      background-color: rgba($black, 0.8);
      text-align: center;
      color: $white;
      display: table;
      min-width: rem-calc(93);
      height: rem-calc(93);
      top: rem-calc(17);
      left: rem-calc(12);
      time {
        margin: 0;
        display: table-cell;
        vertical-align: middle;
      }
      strong {
        font-size: rem-calc(34);
        display: block;
        line-height: rem-calc(34) !important;
      }
      span {
        font-weight: $global-weight-light;
        font-size: rem-calc(18);
        line-height: rem-calc(18) !important;
      }
    }
    .text {
      background-color: #f1f3f0;
      padding: rem-calc(25 18 20 18);
      h3 {
        color: $elkoGray !important;
        font-weight: $global-weight-light !important;
        font-size: rem-calc(24);
        letter-spacing: 0;
        margin-bottom: rem-calc(8);
      }
      p {
        color: #656864;
        font-size: rem-calc(13.5);
        padding: rem-calc(0 2);
        margin: 0;
        font-weight: $global-weight-normal !important;
      }
    }
  }

}