@mixin elkoplast-sideNav {

  .sideNav .menu {
    li {
      padding: 0 !important;
      
    }
    &.nested li{
      border-top: rem-calc(1) solid #cddac4;
      // border-bottom: rem-calc(1) solid #cddac4;
      &:first-child {
        border: none;
      }
    }
    li.active > a, a:hover {
      background-color: $primary-color;
      color: $white;
      // font-weight: $global-weight-bold !important;
      border-top: rem-calc(1) solid #e3f1da;
      border-bottom: rem-calc(1) solid #edf6e6;
      transition: 100ms;
      &::after {
        content: "";
        display: inline-block;
        width: rem-calc(7);
        height: rem-calc(17);
        background-image: url(../img/arrowRight.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: absolute;
        right: rem-calc(20);
        top: calc((50% - 17px / 2) - 1px);
      }
    }
    a:hover, a:focus, a {
      text-decoration: none;
    }
    a {
      position: relative;
      background-color: $secondary-color;
      color: $body-font-color;
      font-weight: $global-weight-light !important;
      font-size: rem-calc(20);
      letter-spacing: -0.06rem;
      border-radius: rem-calc(5.5);
      padding: rem-calc(20 30 20 30) !important;
      margin-bottom: rem-calc(2);
      border-top: rem-calc(1) solid #fafbfa;
      border-bottom: rem-calc(1) solid #fcfcfc;
      transition: 50ms;
    }
     &.productSub a{
      font-size: rem-calc(15);
    }
  }

  .sideNav.product {
    .menu>li:nth-of-type(2) img {
      margin-top: rem-calc(-6);
    } 
    img {
      position: absolute;
      left: rem-calc(25);

    }
    > .menu > li {
      position: relative;
      &::after {
        display: block;
        content: "";
        width: rem-calc(4);
        height: calc(100% - 2px);
        background-color: $primary-color;
        position: absolute;
        left: 0;
        top: rem-calc(1);
        border-radius: rem-calc(5.5 0 0 5.5);
      }
      &:nth-child(1)::after {
        background-color: $colorOdpady;
      }
      &:nth-child(2)::after {
        background-color: $colorDumAZahrada;
      }
      &:nth-child(3)::after {
        background-color: $colorKapaliny;
      }
      &:nth-child(4)::after {
        background-color: $colorZimnniUdrzba;
      }
      &:nth-child(5) {
        img {
          margin-top: rem-calc(-9);
        }
        &::after {
          background-color: $colorSkladovani;

        }

      }
      > .menu.nested {
        margin-left: rem-calc(4);
        margin-bottom: rem-calc(3);
        a {
          padding: rem-calc(10 10 10 25) !important;
          margin-bottom: 0 !important;
          border: 0;
          border-radius: 0;
        }
        li:first-child a {
          border-radius: rem-calc(5.5 5.5 0 0);
        }
        li:last-child a {
          border-radius: rem-calc(0 0 5.5 5.5);
        }
      }
    }
    > .menu > li > a {
      padding-left: rem-calc(90) !important;
      &::after, &:hover::after{
        display: none;
      }
      &::before {
        content: "+";
        background: none;
        color: $body-font-color;
        font-weight: $global-weight-light;
        font-size: rem-calc(24);
        display: inline-block;
        position: absolute;
        right: rem-calc(20);
        top: rem-calc(18);
      }
      &:hover::before {
        color: $white;
      }
    }
    .active a::before, .active a::after {
      display: none !important;
    }
  }

  .large15-4 > .accordion > li {
    padding-left: 0 !important;
    .accordion-title {
      font-size: rem-calc(16);
      &:hover {
        text-decoration: none;
      }
    }
  }

}