@mixin elkoplast-slider {

  #slider {
    position: relative;
    margin-bottom: rem-calc(50);
    > div > img {
      width: 100%;
      min-height: rem-calc(270);
    }
    .slideText {
      opacity: 0.8;
      position: absolute;
      top: calc(50% - 5.625rem);
      h2 {
        background-color: $white;
        font-size: rem-calc(30);
        font-weight: $global-weight-light !important;
        padding: rem-calc(48 50 40 44);
        border-right: rem-calc(1) solid #ae9278;
        margin-bottom: rem-calc(14) !important;
      }
      a {
        color: $white;
        background-color: $primary-color;
        font-size: rem-calc(16);
        padding: rem-calc(15 77 13 65);
        position: relative;
        &::before {
          content: "";
          display: block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 0 rem-calc(51) rem-calc(40);
          border-color: transparent transparent transparent $white;
          position: absolute;
          left: 0;
          top: rem-calc(-1);
        }
        &::after {
          content: "";
          display: inline-block;
          width: rem-calc(5);
          height: rem-calc(10);
          background-image: url(../img/arrowRight.svg);
          background-repeat: no-repeat;
          background-size: 100% 100%;
          position: absolute;
          right: rem-calc(16);
          top: calc((50% - 10px / 2));
        }
      }
      @include breakpoint(small down) {
        h2 {
          font-size: rem-calc(20);
          padding: rem-calc(20);
          margin-bottom: rem-calc(12) !important;
        }
        a {
          font-size: rem-calc(14);
          &::before {
            border-width: 0 0 rem-calc(47) rem-calc(40);
            left: 0;
            top: 0;
          }
        }
      }
    }
  }

}