@mixin elkoplast-tables {
	table.bigTable {
		td {
			text-align: center;
			padding: rem-calc(10 20);
		}
		td, th {
				font-size: 0.8rem;

		}
		tr td:last-child,tr th:last-child {
			border-right: 0.0625rem solid #d9d9d9;
		}
		tr:first-child, tr:last-child{
			border-bottom: 0.0625rem solid #d9d9d9;
		}

		
	}
	/*table > tbody>tr:first-child td {
		font-weight: 600 !important;
	}*/
	/*table > tbody  tr> td:first-child {
		font-weight: 600 !important;
	}*/
	table tbody th {
		font-weight: 600 !important;
	}

	table {
		margin-top: 0 !important;
		width: 100% !important;
		tbody {
			td, th {
				padding: rem-calc(10 20);
			}
		}
	}
	#downloadTable {
		overflow-x: auto;
		td[colspan] {
			background-color: #fefefe; 
		}
		td{
			font-weight: normal !important;
		}
		 h4 {
		 	margin-bottom: 0;
		 	color:#75b947;
		 	font-weight: bold;
		 }
	}
}
