@mixin timeLine() {

  .timeLine {
    display: flex;
    min-height: rem-calc(600);
    padding-left: rem-calc(145); // kompenzace posunutí oken
    .event {
      position: relative;
      width: rem-calc(370);
      min-height: rem-calc(220);
      text-align: center;
      background-color: #f1f3f0;
      border: rem-calc(1) solid #9ca0a2;
      border-radius: rem-calc(10);
      flex-shrink: 0;
      display: flex;
      align-items: center;
      align-self: flex-end; // druhej řádek
      margin-left: rem-calc(-145); // posunutí oken k sobě
      &::before {
        content: '';
        position: absolute;
        z-index: 0;
        width: calc(100% + 0.5rem);
        height: calc(100% + 0.5rem);
        top: rem-calc(-4);
        left: rem-calc(-4);
        //outline: #9ca0a2 solid rem-calc(1);
      }
      &:nth-child(2n) {
        align-self: flex-start; // první řádek
      }
      > div {
        width: 100%;
        padding: rem-calc(25);
      }
      h2 {
        font-size: rem-calc(18);
        margin-top: 0 !important;
      }
      p {
        font-size: rem-calc(16);
        margin-bottom: 0 !important;
        font-weight: $global-weight-light;
      }
    }
    .line { // horizontální čára
      padding: 0 !important;
      position: absolute;
      width: 100%;
      height: rem-calc(3);
      background-color: #000000;
      border-bottom: rem-calc(1) solid #000000;
      top: rem-calc(-86);
      &::after { // vertikální čára
        content: "";
        width: rem-calc(0);
        height: rem-calc(82);
        position: absolute;
        display: block;
        top: 0;
        left: rem-calc(145 + 37.5); // posunutí na prostředek eventu
        background-color: #9ca0a2;
      }
    }
    .line .dot { // bod na čáře
      width: rem-calc(30);
      height: rem-calc(30);
      position: absolute;
      background-color: white;
      border: rem-calc(4) solid #878b8d;
      border-radius: 50%;
      top: rem-calc(-14);
      left: rem-calc(145 + 37.5 - 14);
      z-index: 2;
      &::after { // vertikální čára
        content: "";
        width: rem-calc(14);
        height: rem-calc(14);
        position: absolute;
        display: block;
        top: calc(50% - 0.4375rem);
        left: calc(50% - 0.4375rem);
        border-radius: 50%;
        background-color: $primary-color;
      }
    }
    .event:nth-child(2n) {
      .line {
        top: initial;
        bottom: rem-calc(-79);
        &::after { // vertikální čára
          height: rem-calc(80);
          top: initial;
          bottom: 0;
        }
      }
    }
    .event:first-child .line::before, .event:last-child .line::before {
      content: "";
      display: block;
      width: rem-calc(17);
      height: rem-calc(17);
      position: absolute;
      background-color: white;
      border: rem-calc(4) solid #878b8d;
      border-radius: 50%;
      top: rem-calc(-7);
      z-index: 2;
    }
    .event:first-child .line::before {
      left: rem-calc(-5);
    }
    .event:last-child .line::before {
      right: rem-calc(-5);
    }
  }

}