
<section id="slider">
    <div>
        <img src="{{root}}assets/img/slide1.jpg" alt="Slide">
        <div class="row15">
            <div class="large15-8 columns slideText animate">
                <h2>Odvoz <strong>speciálního odpadu</strong>, lorem ipsum</h2>
                <a href="#">Zjistěte více</a>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="row">
        <div class="small-12 columns">
            <header class="headline">
            <h2>Prohlédněte si <strong>naše služby</strong></h2>
            </header>
        </div>
    </div>
    <div class="row medium-up-2 large-up-3 paddingFix">
        <div class="column">
            <a href="#">
                <div class="service odpad">
                    <img src="{{root}}assets/img/homeServicePhoto1.jpg" alt="Kontejnery">
                    <div>
                        <strong>Odpadové hospodářství</strong>
                    </div>
                </div>
            </a>
        </div>
        <div class="column">
            <a href="#">
                <div class="service dumAZahrada">
                    <img src="{{root}}assets/img/homeServicePhoto2.jpg" alt="Kontejnery">
                    <div>
                        <strong>Dům a zahrada</strong>
                    </div>
                </div>
            </a>
        </div>
        <div class="column">
            <a href="#">
                <div class="service kapaliny">
                    <img src="{{root}}assets/img/homeServicePhoto3.jpg" alt="Kontejnery">
                    <div>
                        <strong>Hospodaření s kapalinama</strong>
                    </div>
                </div>
            </a>
        </div>
        <div class="column">
            <a href="#">
                <div class="service zimniUdrzba">
                    <img src="{{root}}assets/img/homeServicePhoto4.jpg" alt="Kontejnery">
                    <div>
                        <strong>Zimní údržba</strong>
                    </div>
                </div>
            </a>
        </div>
        <div class="column">
            <a href="#">
                <div class="service skladovani">
                    <img src="{{root}}assets/img/homeServicePhoto5.jpg" alt="Kontejnery">
                    <div>
                        <strong>Skladování</strong>
                    </div>
                </div>
            </a>
        </div>
        <div class="column">
            <a href="#">
                <div class="service zakazkovaVyroba">
                    <img src="{{root}}assets/img/homeServicePhoto6.jpg" alt="Kontejnery">
                    <div>
                        <strong>Zakázková výroba</strong>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>

<section id="about">
    <div class="row">
        <div class="small-12 columns">
            <header class="headline">
                <h2><strong>Zjistěte více</strong> o naší společnosti</h2>
            </header>
        </div>
    </div>
    <div class="row15">
        <div class="large15-5 columns">
            <a href="#">
                <h3>Historie společnosti</h3>
            </a>
            <p>
                Společnost ELKOPLAST CZ, s.r.o. se zpočátku
                zabývala především výrobou a prodejem
                techniky pro nakládání s odpady. Postupně
                se její pole působnosti rozšířilo o řadu dalších
                výrobků, které nachází uplatnění v různých
                oborech.
            </p>
        </div>
        <div class="large15-5 columns">
            <a href="#">
                <h3>O společnosti</h3>
            </a>
            <p>
                Společnost ELKOPLAST CZ, s.r.o. se zpočátku
                zabývala především výrobou a prodejem
                techniky pro nakládání s odpady. Postupně
                se její pole působnosti rozšířilo o řadu dalších
                výrobků, které nachází uplatnění v různých
                oborech.
            </p>
        </div>
        <div class="large15-5 columns">
            <a href="#">
                <h3>Další super informace</h3>
            </a>
            <p>
                Společnost ELKOPLAST CZ, s.r.o. se zpočátku
                zabývala především výrobou a prodejem
                techniky pro nakládání s odpady. Postupně
                se její pole působnosti rozšířilo o řadu dalších
                výrobků, které nachází uplatnění v různých
                oborech.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <img src="{{root}}assets/img/homeAboutPhoto.jpg" alt="Popelářská auta">
        </div>
    </div>
</section>

<section id="news">
    <div class="row">
        <div class="small-12 columns">
            <header class="headline">
                <h2>Co se děje <strong>nového</strong></h2>
            </header>
        </div>
    </div>
    <div class="row large-up-3 paddingFix">
        <div class="column">
            <a href="#">
                <div class="message">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=363%C3%97130&w=363&h=130" alt="Obrázek novinky">
                    <div class="date">
                        <time datetime="2015-06-18">
                            <strong>18</strong>
                            <span>červen</span>
                        </time>
                    </div>
                    <div class="text">
                        <h3>Toto je nadpis aktuality</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="column">
            <a href="#">
                <div class="message">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=363%C3%97130&w=363&h=130" alt="Obrázek novinky">
                    <div class="date">
                        <time datetime="2015-06-18">
                            <strong>18</strong>
                            <span>červen</span>
                        </time>
                    </div>
                    <div class="text">
                        <h3>Toto je nadpis aktuality</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="column">
            <a href="#">
                <div class="message">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=363%C3%97130&w=363&h=130" alt="Obrázek novinky">
                    <div class="date">
                        <time datetime="2015-06-18">
                            <strong>18</strong>
                            <span>červen</span>
                        </time>
                    </div>
                    <div class="text">
                        <h3>Toto je nadpis aktuality</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row15">
        <div class="large15-3 columns all15-centered">
            <a class="expanded button" href="#">Načíst další</a>
        </div>
    </div>
</section>

<section id="whyUs">
    <div class="row15">
        <div class="medium15-5 columns">
            <img src="{{root}}assets/img/cage.svg" alt="Kontejner">
            <strong>
                <b>Přední</b> Evropský
                <br>
                výrobce
            </strong>
        </div>
        <div class="medium15-5 columns">
            <img src="{{root}}assets/img/best.svg" alt="Medaile">
            <strong>
                Držitel certifikátů
                <br>
                <b>ISO 9001, 14001</b>
            </strong>
        </div>
        <div class="medium15-5 columns">
            <img src="{{root}}assets/img/truck.svg" alt="Kamion">
            <strong>
                <b>Celoevropská</b>
                <br>
                kamionová přeprava
            </strong>
        </div>
    </div>
</section>

<footer>
    <div class="row15">
        <div class="large15-4 columns">
            <h2>Kam pokračovat dál</h2>
            <nav class="row">
                <div class="medium-3 large-7 columns">
                    <ul class="menu simple vertical">
                        <li><a href="#">Produkty</a></li>
                        <li><a href="#">Zakázková výroba</a></li>
                        <li><a href="#">Reference</a></li>
                    </ul>
                </div>
                <div class="medium-9 large-5 columns">
                    <ul class="menu simple vertical">
                        <li><a href="#">O nás</a></li>
                        <li><a href="#">Kontakty</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="large15-11 columns">
            <h2>Kontaktujte nás</h2>
            <div class="row">
                <div class="large-3 medium-4 columns">
                    <p>
                        <span><img src="{{root}}assets/img/tel.svg" alt="Telefon"></span>+420 123 456 789
                        <br>
                        <span><img src="{{root}}assets/img/send.svg" alt="Email"></span>info@elkoplast.cz
                    </p>
                </div>
                <div class="large-3 medium-3 columns">
                    <p>
                        Speciální Ulice&nbsp;125
                        <br>
                        123&nbsp;45 Město&nbsp;5
                    </p>
                </div>
                <div class="large-6 medium-5 columns">
                    <p>
                        IČ:&nbsp;123456789
                        <br>
                        DIČ:&nbsp;CZ123456789
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns text-center">
            <!--logo-->
        </div>
    </div>
</footer>