<div id="imgHead">
    <img src="{{root}}assets/img/stromy.jpg" alt="Stromy">
</div>

<section class="row15">
    <div class="large15-4 columns">
        <ul class="accordion hide-for-large" data-accordion data-allow-all-closed="true">
            <li class="accordion-item" data-accordion-item>
                <a class="accordion-title">Sekce</a>
                <div class="accordion-content" data-tab-content>
                    <nav class="sideNav">
                        <ul class="menu vertical">
                            <li class="active"><a href="#">Sekce 1</a></li>
                            <li><a href="#">Sekce 2</a></li>
                            <li><a href="#">Sekce 3</a></li>
                            <li><a href="#">Sekce 4</a></li>
                            <li><a href="#">Sekce 5</a></li>
                            <li><a href="#">Sekce 6</a></li>
                            <li><a href="#">Sekce 7</a></li>
                        </ul>
                    </nav>
                </div>
            </li>
        </ul>
        <nav class="sideNav show-for-large">
            <ul class="menu vertical">
                <li class="active"><a href="#">Sekce 1</a></li>
                <li><a href="#">Sekce 2</a></li>
                <li><a href="#">Sekce 3</a></li>
                <li><a href="#">Sekce 4</a></li>
                <li><a href="#">Sekce 5</a></li>
                <li><a href="#">Sekce 6</a></li>
                <li><a href="#">Sekce 7</a></li>
            </ul>
        </nav>
    </div>
    <article class="large15-11 columns" id="aboutUs">
        <header>
            <h1>Zjistěte více <strong>o naší společnosti</strong></h1>
        </header>

        <section id="vyroba">
            <h2>Výrobní program h2</h2>
            <p>
                Naše společnost patří <strong>mezi významné evropské výrobce</strong> ocelových velkoobjemových kontejnerů a kontejnerů
                na tříděný sběr. Mezi <strong>velmi žádané výrobky</strong> patří také sklolaminátové nádoby na zimní posyp. Jsme jediným
                českým výrobcem mobilních plastových nádrží s výdejním zařízením <strong>pro skladování motorové nafty a dalších
                ropných produktů</strong>. Vyrábíme také nádrže na <em>chemikálie a jiné kapaliny</em>, stejně jako nádrže podzemní,
                které se osvědčily jako jímky na <a href="#">dešťové a splaškové vody</a>.
            </p>

            <h3>Kovovýroba h3</h3>
            <div class="row large-up-5 medium-up-4 small-up-2 aboutUsBlock">
                <div class="column">
                    <a href="#">
                        <img src="{{root}}assets/img/onasPlaceholder.png" alt="Placeholder">
                    </a>
                </div>
                <div class="column">
                    <a href="#">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=13&txt=138%C3%97135&w=138&h=135" alt="Placeholder">
                    </a>
                </div>
            </div>

            <h3>Rotační odlévání plastů</h3>
            <div class="row large-up-5 medium-up-4 small-up-2 aboutUsBlock">
                <div class="column">
                    <a href="#">
                        <img src="{{root}}assets/img/onasPlaceholder.png" alt="Placeholder">
                    </a>
                </div>
                <div class="column">
                    <a href="#">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=13&txt=138%C3%97135&w=138&h=135" alt="Placeholder">
                    </a>
                </div>
                <div class="column">
                    <a href="#">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=13&txt=138%C3%97135&w=138&h=135" alt="Placeholder">
                    </a>
                </div>
                <div class="column">
                    <a href="#">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=13&txt=138%C3%97135&w=138&h=135" alt="Placeholder">
                    </a>
                </div>
            </div>

            <h3>Výroba ze sklolaminátu</h3>
            <div class="row large-up-5 medium-up-4 small-up-2 aboutUsBlock">
                <div class="column">
                    <a href="#">
                        <img src="{{root}}assets/img/onasPlaceholder.png" alt="Placeholder">
                    </a>
                </div>
                <div class="column">
                    <a href="#">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=13&txt=138%C3%97135&w=138&h=135" alt="Placeholder">
                    </a>
                </div>
                <div class="column">
                    <a href="#">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=13&txt=138%C3%97135&w=138&h=135" alt="Placeholder">
                    </a>
                </div>
            </div>
        </section>

        <section id="certifikace">
            <h2>ISO 9001 a ISO 14001</h2>
            <div class="row">
                <div class="small-6 columns text-center">
                    <img src="{{root}}assets/img/iso9001.jpg" alt="iso">
                </div>
                <div class="small-6 columns text-center">
                    <img src="{{root}}assets/img/iso14001.jpg" alt="iso">
                </div>
            </div>
            <h2>Nádrž NEPTUN</h2>
            <p>Podzemní nádrže Neptun jsou držiteli certifikátu.</p>
            <div class="row">
                <div class="small-6 columns text-center end">
                    <img src="{{root}}assets/img/cert.jpg" alt="Certifikát">
                </div>
            </div>
        </section>

        <section id="doprava">
            <h2>Doprava</h2>
            <p>Zajišťujeme silniční kamionovou přepravu (export-import) nadrozměrných nákladů (do šířky 3 m) v rámci celé
                Evropy. V současnosti disponujeme 17 ks vlastních vozových jednotek, především velkoobjemovými soupravami
                s kapacitou 100 až 120 cbm, a více než 50 ks vozidel našich subdodavatelů.
            </p>
            <img src="{{root}}assets/img/tahac.jpg" alt="Tahač">

            <table>
                <thead>
                <tr>
                    <th>Typ vozidla</th><th>Počet vozidel</th><th>Ložná délka (m)</th><th>Ložná výška (m)</th><th>Nosnost (t)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Souprava 120 cbm</td><td>4</td><td>8,5+7,5</td><td>3,05</td><td>25</td>
                </tr>
                <tr>
                    <td>Návěs Low-Deck</td><td>13</td><td>13,6</td><td>2,95</td><td>25</td>
                </tr>
                <tr>
                    <td>Návěs Standard</td><td>0</td><td>13,6</td><td>2,75</td><td>24</td>
                </tr>
                </tbody>
            </table>

        </section>

        <section id="historie">
            <h2>Historie společnosti</h2>
            <p>
                Společnost ELKOPLAST CZ, s.r.o. se zpočátku zabývala především výrobou a prodejem techniky pro nakládání
                s odpady. Postupně se její pole působnosti rozšířilo o řadu dalších výrobků, které nachází uplatnění v různých
                oborech.
            </p>
            <p>
                První výrobní linka pro výrobu sklolaminátových kontejnerů na tříděný sběr komunálních odpadů vznikla
                roku 1991. Výrobu jsme postupně rozšířili a v současnosti nabízíme široký sortiment kontejnerů s objemem
                od 300 l až do 5000 l v různých provedeních včetně polopodzemních kontejnerů.
            </p>
            <p>
                V roce 1997 jsme rozšířili výrobní program o výrobu velkoobjemových ocelových kontejnerů a o čtyři roky později
                jsme za účelem navýšení výrobní kapacity vybudovali samostatný výrobní závod v Bruntále o celkové rozloze
                29 tis. m2. Ročně zde vyrábíme cca 1.200 ks velkoobjemových kontejnerů v různých provedeních dle
                přání zákazníka.
            </p>
            <p>
                Linku na výrobu polyethylenových kontejnerů a nádrží technologií rotačního tváření jsme zprovoznili v roce 2008.
                Tato moderní a ekologická technologie nám umožnila rozšířit sortiment vyráběných kontejnerů, výrazně zvýšit
                kapacitu výroby a rozšířit výrobní program o sortiment nádrží.
            </p>
        </section>

        <section id="veletrhy">
            <h2>Účast na veletrzích</h2>
            <div class="row medium-up-3 ">
                <div class="column">
                    <img src="{{root}}assets/img/allpack.jpg" alt="">
                </div>
                <div class="column">
                    <img src="{{root}}assets/img/neco.jpg" alt="">
                </div>
                <div class="column">
                    <img src="{{root}}assets/img/pollutec.jpg" alt="">
                </div>
            </div>
        </section>

        <section id="reference">
            <h2>Reference</h2>
            <div class="row medium-up-4 ">
                <div class="column">
                    <img src="{{root}}assets/img/ganse.jpg" alt="">
                </div>
                <div class="column">
                    <img src="{{root}}assets/img/biopas.jpg" alt="">
                </div>
                <div class="column">
                    <img src="{{root}}assets/img/svez.jpg" alt="">
                </div>
                <div class="column">
                    <img src="{{root}}assets/img/bohme.jpg" alt="">
                </div>
                <div class="column">
                    <img src="{{root}}assets/img/jince.jpg" alt="">
                </div>
                <div class="column">
                    <img src="{{root}}assets/img/nesvady.jpg" alt="">
                </div>
                <div class="column">
                    <img src="{{root}}assets/img/eu.jpg" alt="">
                </div>
                <div class="column">
                    <img src="{{root}}assets/img/lutyne.jpg" alt="">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="small-12 columns text-center">
                    <a href="#" class="button primary">Veškeré reference</a>
                </div>
            </div>
        </section>

        <section id="konopi">
            <img src="{{root}}assets/img/konopi.jpg" alt="">
            <h2>Produkce léčebného konopí</h2>
            <p>Společnost ELKOPLAST ve spolupráci s nizozemskou firmou Bedrocan zahájila spolupráci na inovativním
                projektu, který zúročuje zkušenosti s přípravou léčiv a zemědělské produkce. Cílem je poskytnout českému
                zdravotnickému systému konopí lékařské kvality, které bude dostupné na základě lékařského předpisu.
                Více informací je k nalezení na webových stránkách Státní agentury pro konopí pro léčebné použití (SAKL).
            </p>
            <p>
                Roku 2014 získal ELKOPLAST ve spolupráci s firmou Bedrocan BV, producentem konopí farmaceutické kvality
                pro nizozemské Ministerstvo zdravotnictví, smlouvu s vládou na dobu 1 roku na vyprodukování 40 kg konopí
                pro léčebné použití pro pacienty. Bedrocan je od roku 2003 producentem standardizovaného léčebného
                konopí kontrolované kvality pro pacienty a výzkum, které jim poskytuje skrze nizozemské ministerstvo
                zdravotnictví.
            </p>
            <h2>Dostupnost</h2>
            <p>
                Původně byla produkce plánována na začátek ledna. Lékaři by však měli vzít na vědomí, že dodávka první várky
                10 kg je nyní očekávána 1. února 2016. Následující várky po 10 kg budou dostupné ve 2-měsíčních lhůtách,
                a to 1. dubna, 1. června a 1. srpna 2016.
            </p>
            <p>
                Léčebné konopí je dostupné pouze na předpis, a pouze pro opravňující indikace. Seznam těchto indikací je
                k nalezení na vládních stránkách SAKL. Pouze lékaři registrovaní ve vládním programu jsou autorizováni
                pro předepisování konopí pomocí elektronického předpisu. Informace pro lékaře o registraci pro předepisování
                konopí naleznete zde.
            </p>
            <h2>Informace o produktu</h2>
            <p>
                ELKOPLAST v současné době produkuje jednu odrůdu léčebného konopí, která je v rámci České republiky
                k dostání na lékařský předpis. Touto odrůdou je Bedrocan (22 % THC, < 1 % CBD). Jedná se o konopí léčebné
                kvality. Znamená to, že má přesně definovaný standardizovaný obsah aktivních látek (kanabinoidů THC, CBD
                a CBN) a neobsahuje kontaminanty jako plísně, bakterie nebo pesticidy. Tyto příměsi mohou být přítomné
                v konopí z černého trhu nebo pěstovaného venku či doma a mohou být zdraví škodlivé pokud jsou vdechovány
                do plic, zejména u pacientů s oslabeným imunitním systémem.
            </p>
            <p>
                Návody k použití a informace pro lékaře a pacienty můžete naleznout na webových stránkách nizozemského
                Úřadu pro léčebné konopí (OMC) nebo webových stránkách společnosti Bedrocan. Vědecké informace
                o používání konopí pro léčebné účely jsou k nalezení na stránkách kanadského Ministerstva zdravotnictví
                (pouze v angličtině) a webu Mezinárodní asociace pro kanabinoidy jako léčivé látky (IACM).
            </p>
        </section>

    </article>
</section>

<footer>
    <div class="row15">
        <div class="large15-4 columns">
            <h2>Kam pokračovat dál</h2>
            <nav class="row">
                <div class="medium-3 large-7 columns">
                    <ul class="menu simple vertical">
                        <li><a href="#">Produkty</a></li>
                        <li><a href="#">Zakázková výroba</a></li>
                        <li><a href="#">Reference</a></li>
                    </ul>
                </div>
                <div class="medium-9 large-5 columns">
                    <ul class="menu simple vertical">
                        <li><a href="#">O nás</a></li>
                        <li><a href="#">Kontakty</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="large15-11 columns">
            <h2>Kontaktujte nás</h2>
            <div class="row">
                <div class="large-3 medium-4 columns">
                    <p>
                        <span><img src="{{root}}assets/img/tel.svg" alt="Telefon"></span>+420 123 456 789
                        <br>
                        <span><img src="{{root}}assets/img/send.svg" alt="Email"></span>info@elkoplast.cz
                    </p>
                </div>
                <div class="large-3 medium-3 columns">
                    <p>
                        Speciální Ulice&nbsp;125
                        <br>
                        123&nbsp;45 Město&nbsp;5
                    </p>
                </div>
                <div class="large-6 medium-5 columns">
                    <p>
                        IČ:&nbsp;123456789
                        <br>
                        DIČ:&nbsp;CZ123456789
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns text-center">
            <!--logo-->
        </div>
    </div>
</footer>